/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$hover-primary: #1EAEDB;

.button, button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
  }
}

.button:hover, button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

input {
  &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
    color: #333;
    border-color: #888;
    outline: 0;
  }
}

.button:focus, button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

input {
  &[type="submit"]:focus, &[type="reset"]:focus, &[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
  }
}

.button.button-primary, button.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

input {
  &[type="submit"].button-primary, &[type="reset"].button-primary, &[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
  }
}

.button.button-primary:hover, button.button-primary:hover {
  color: #FFF;
  background-color: $hover-primary;
  border-color: $hover-primary;
}

input {
  &[type="submit"].button-primary:hover, &[type="reset"].button-primary:hover, &[type="button"].button-primary:hover {
    color: #FFF;
    background-color: $hover-primary;
    border-color: $hover-primary;
  }
}

.button.button-primary:focus, button.button-primary:focus {
  color: #FFF;
  background-color: $hover-primary;
  border-color: $hover-primary;
}

input {
  &[type="submit"].button-primary:focus, &[type="reset"].button-primary:focus, &[type="button"].button-primary:focus {
    color: #FFF;
    background-color: $hover-primary;
    border-color: $hover-primary;
  }
}
